@import "tailwindcss";

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(20.463% 0.00002 271.152);
  --brown: #ac7f5e;
  --color-btn-bg: oklch(94.029% 0.09724 140.13);
  --color-btn-fg: oklch(68.094% 0.13857 166.852);
  --font-geist-sans: "Geist Sans", -apple-system, BlinkMachine, "Segoe UI",
    Roboto, Oxygen;
  --font-figtree: "Figtree", sans-serif; /* Added Figtree variable */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown: var(--brown);

  --color-btn-bg: var(--color-btn-bg);
  --color-btn-fg: var(--color-btn-fg);
  --font-sans: var(--font-figtree); /* Default Tailwind sans is now Figtree */
  /* --font-mono removed */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree);
}

@layer base {
  button {
    @apply cursor-pointer rounded-md px-4 py-2 text-btn-fg bg-btn-bg font-normal ring-0 transition-all duration-200;
  }
  input {
    @apply outline-1 w-full outline-gray-400 px-2  py-0.5 rounded-sm;
  }
  li {
    list-style: disc;
    margin-left: 20px;
    font-size: 0.7em;
  }

  .plan label {
    @apply text-[0.9em] font-semibold mb-1 indent-[5%] text-start;
  }
  .plan select {
    @apply border border-gray-300 text-center text-gray-500 rounded-lg px-3 py-2 outline-0 appearance-none bg-no-repeat;
    background-image: url("/icons/dropdown.svg");
    background-position: right 0.75rem center;
    background-size: 44px;
    cursor: pointer;
    padding-right: 3em;
  }
  .plan input {
    @apply border outline-0 w-max border-gray-300 text-center  text-gray-500 rounded-lg px-3 py-2;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 w-[90%];
  }
  .text-foreground {
    color: var(--foreground);
  }
  .bg-background {
    background-color: var(--background);
  }
  .success-bg {
    background-image: url("/images/confetti.png");
  }
  .text-background {
    color: var(--background);
  }

  /* stripe */
  .stripe {
    @apply flex justify-center items-center px-4 py-2 gap-12 space-y-6  w-full h-screen;
  }
  .stripe h2 {
    @apply text-[12px];
  }
}
@keyframes pageReveal {
  0% {
    opacity: 0;
    transform: scale(0.6);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.page-animate {
  animation: pageReveal 0.9s ease-out forwards;
}
/* Typewriter effect */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #000;
  width: 0;
  animation: typing 3s steps(30) forwards, blink 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 385px; /* adjust based on your text length */
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}
