@import "tailwindcss";

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(20.463% 0.00002 271.152);
  --color-btn-bg: oklch(94.029% 0.09724 140.13);
  --color-btn-fg: oklch(68.094% 0.13857 166.852);
  --font-geist-sans: 'Geist Sans', -apple-system, BlinkMachine, 'Segoe UI', Roboto, Oxygen;
  --font-geist-mono: 'Geist Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn-bg: var(--color-btn-bg);
  --color-btn-fg: var(--color-btn-fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
}

@layer base {

  button {
    @apply cursor-pointer rounded-md px-4 py-2 text-btn-fg bg-btn-bg font-normal ring-0 transition-all duration-200;
  }
}

@layer utilities {
  .container{
    @apply mx-auto px-4 w-[90%];
  }
  .text-foreground {
    color: var(--foreground);
  }
  .bg-background {
    background-color: var(--background);
  }
  .text-background {
    color: var(--background);
  }
}